h1{
    background-color: aqua;
}
h2{
    background-color: red;
    font-style: oblique;
    font-size: larger;
}
h3{
    background-color: pink;
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h5{
    background-color: aqua;
    
}
